.banner {
    background: url(img/full_moon_dark_mountains.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #000000;
}

.lingkaran i {
    position: relative;
    top: 35px;
}

.crop-img {
    object-fit: cover;
}

.anggota img {
    width: 250px;
    border: 10px solid #cccccc;
}

.client img {
    height: auto;
    max-height: 50px;
}
